services:
  postgres:
    image: postgres:15-alpine
    env_file:
      - resume/docker.env
    ports:
      - "5432:5432"
    volumes:
      - "postgresql-data:/var/lib/postgresql/data"
    command: -p 5432
    networks:
      - custom_network

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s

  app:
    container_name: app_resume
    hostname: app_resume
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - resume/docker.env
    volumes:
      - .:/srv/app
    ports:
      - "0.0.0.0:8000:8000"
    command: gunicorn resume.wsgi:application --bind 0.0.0.0:8000
    networks:
      - custom_network

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - app
    ports:
      - 80:80
    networks:
      - custom_network

volumes:
  postgresql-data:
  static-data:

networks:
  custom_network:
    driver: bridge
